{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head %}

    {% endblock %}

</head>

<body style="background-image:url(https://doc-0s-a0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/rc9bsqsskugfajqkl2ls30pjjdfvpd9i/1534795200000/18253618663358480250/*/1n7XSPtjJD6F-jbZ0HvVD3XJL8Nz1E7VH); background-size:cover;background-repeat: no-repeat;">
    <nav class="navbar navbar-light navbar-expand-md" style="background-color:transparent; border: #ffffff; border-style: solid ;">
        <div class="container-fluid"><a class="navbar-brand" href="{%   url 'index' %}" style="color: white;font-family: 'Anton', sans-serif;
 border-right: solid;border-bottom-right-radius: 100% ">Home</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color: white;font-family: 'Anton', sans-serif;
border-right: solid;border-bottom-right-radius: 100%">First Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: white;font-family: 'Anton', sans-serif;
border-right: solid;border-bottom-right-radius: 100%">Second Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: white;font-family: 'Anton', sans-serif;
border-right: solid;border-bottom-right-radius: 100%">Third Item</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script>
        particlesJS.load('particles-js','{% static 'particles.json' %}');
    </script>
    {% block body %}
    {% endblock %}
    <div id="particles-js"></div>

</body>

</html>