{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
        <link rel="stylesheet" href="{% static 'style.css' %}">

{% endblock %}
{% block body %}
    <div class="bodyblock">
<h1 style="color: white;font-family: 'Anton', sans-serif;margin-top: 50px;align:center;text-align: center;">
    ENTER THE KEYWORD/HASHTAG TO BE SEARCHED
    </h1>
<br>
<a href="{% url 'index' %}">
</a><br>
<div id="form">
<form method="post">
    {{ form_full }}
    {% csrf_token %}
    <input name="submits" type="submit" value="search" style="color: white;background-color: dodgerblue">
</form>
</div>
    </div>
{% endblock %}